#selfie{
    width: 20%;
}

.nav_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 3px 3px 3px 3px;
    /* margin: 2px 2px 2px 2px; */
    background: linear-gradient(0deg, rgba(172, 238, 238, 1) 0%, rgba(246, 214, 144, 0.5620842086834734) 100%);
    border: dotted;

}

.nav_links li {
    display: inline-block;
    margin: 0 10px;
}

.nav_links li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;

}

.nav_links li a:hover {
    background-color: #B2AC88;
    color: #fff;
    transform: skew(20deg);
}

a {
    font-size: 0.7em;
    overflow: hidden;
}

.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}
.photos img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    justify-content: center;
    margin: 10px 10px 5px 10px;
    border: 10px black double;
  }
  main{
    background-color: rgb(200, 233, 239);
  }
